# .env.local (สำหรับ local testing)
# DO NOT commit to GitHub — add .env.local to .gitignore

# Gmail Configuration (Google Workspace App Password)
GMAIL_USER=info@solariswine.com
GMAIL_PASS=oqqg bzyu fnnj idyo

# LINE Messaging API Configuration
LINE_CHANNEL_ID=2010287003
LINE_CHANNEL_SECRET=e7a1fd3706db5ae04049730dd80318ff
LINE_ACCESS_TOKEN=Blix/RRUKw1xY8CNxEea0zBBuXejH4L9MFmF+2QWYxhdkoX0o6miwM45fcBOLFuvEbyzuvY+PYQ6fniM3ZWLJM4T/ObdB4hMkemL0pHwHkchS/xnCilXWJ7RqzJ2vldrm3W7GZ3aIMVVuCJbPElKNAdB04t89/1O/w1cDnyilFU=

# Vercel Deployment
NEXT_PUBLIC_API_URL=https://www.solariswine.com
